name: [Web] Build and Push Docker Image to Nexus

on:
  push:
    branches: [ main ]
    tags: [ '*.*.*' ]
    paths:
      - 'web/**'
  workflow_dispatch: # Allows manual triggering of the workflow

jobs:
  build-and-push:
    uses: .github/workflows/docker-image.yml
    with:
      image-name: 'imjake.eu/ai-card-generator-web'
      tags: |
        type=raw,value=latest,enable=${{ github.event_name == 'workflow_dispatch' || github.ref == 'refs/heads/main' }}
        type=ref,event=tag
        type=sha
